.app-footer {
	background-color: var(--calitera-white);
	-webkit-transition: left .3s ease,right .3s ease;
	transition: left .3s ease,right .3s ease;
	display: flex;
	align-items: stretch;
	a {
		color:var(--calitera-blue-darkest);
	}
}