$white:					#FFFFFF;
$black:					#000000;
$grey-light:		#f5f8fa;
$grey-border:		#eff2f5;
$grey-muted:		#A1A5B7;
$grey:					#9d9da6;
$grey-card:			#f7f8fa;
$blue-darkest:	#1e1e2d;
$blue-selected:	#2a2a3c;
$blue-dark:			#393945;
$blue-zurich:		#2b73c2;
$blue-light:		#03bef4;
$blue-light-hover: #03b4e7;
$blue-lightest:	#c5c5d8;
$blue-light-badge: #e5f8fd;
$green:					#47be7d;
$green-light:		#e8fff3;



$text-font: "Inter",Helvetica,sans-serif;
